.container{
    display: flex;

    width: 500px;
    height: 500px;

background-color: lavender;
border: solid 1px black;
border-radius: 30px;
display: flex;
justify-content: center;
text-align: center;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 15px rgba(124, 102, 224, 0.8);
background: linear-gradient(to outside, #ff0000, #00ff00)

}

.icons{
width: 30px;
height: 30px;
display: flex;
flex-direction: column;
margin-right: 45px;
}

button{
    width: 8rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 30px;
    background-color: gold;
  
    margin-top: 1rem;
 
}

.buton{
      display: flex;
    justify-content: center;
}